* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 355px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 9rem 0;
  background: url("../images/pattern-circles.svg") top 6rem center no-repeat, url("../images/bg-pattern.svg") top left no-repeat, #fafbff;
}

.wrapper {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 6rem;
}

@media (min-width: 550px) {
  .header {
    margin-bottom: 10rem;
  }
}

.header__title {
  color: #293356;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

@media (min-width: 550px) {
  .header__title {
    font-size: 2.75rem;
  }
}

.header__subtitle {
  color: #858fad;
  font-size: 1.4;
  line-height: 1.7;
}

.header__subtitle span {
  display: block;
}

@media (min-width: 550px) {
  .header__subtitle span {
    display: inline;
  }
}

.main {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px rgba(41, 51, 86, 0.2);
          box-shadow: 0 2px 8px rgba(41, 51, 86, 0.2);
}

.main__top {
  padding: 3rem 1rem;
  border-bottom: 1px solid #cdd7ee;
}

@media (min-width: 550px) {
  .main__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "views pricing" "slider slider" "plans plans";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 3rem;
  }
}

.main__views {
  text-transform: uppercase;
  color: #858fad;
  text-align: center;
}

@media (min-width: 550px) {
  .main__views {
    grid-area: views;
    text-align: left;
  }
}

.main__slider {
  width: 90%;
  margin: 0 auto;
  height: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

@media (min-width: 550px) {
  .main__slider {
    width: 100%;
    grid-area: slider;
  }
}

.main__fill {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 1rem;
  border-radius: 1rem;
  width: 100%;
  background-color: #eaeefb;
  overflow: hidden;
}

.main__fill span {
  background-color: #a5f3eb;
  display: block;
  width: 0;
  height: 100%;
}

.main__bar {
  position: absolute;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.main__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #10d5c2 url("../images/icon-slider.svg") center center no-repeat;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-box-shadow: 0 5px 5px rgba(16, 213, 194, 0.2);
          box-shadow: 0 5px 5px rgba(16, 213, 194, 0.2);
}

.main__bar::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  outline: none;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #10d5c2 url("../images/icon-slider.svg") center center no-repeat;
  cursor: grab;
  box-shadow: 0 1rem 3rem #10d5c2;
}

.main__pricing {
  color: #858fad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 550px) {
  .main__pricing {
    grid-area: pricing;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main__pricing span {
  color: #293356;
  font-weight: 800;
  font-size: 3rem;
  margin-right: 0.5rem;
}

.main__plans {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 550px) {
  .main__plans {
    grid-area: plans;
    margin-right: 2rem;
  }
}

.main__check {
  display: none;
}

.main__check__label {
  display: inline-block;
  position: relative;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: #cdd7ee;
  cursor: pointer;
  margin: 0 1rem;
}

@media (min-width: 550px) {
  .main__check__label {
    margin: 0 1.5rem;
  }
}

.main__check__label:hover {
  background-color: #10d5c2;
}

.main__check__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background-color: #fafbff;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.main__check:checked ~ .main__check__label {
  background-color: #10d5c2;
}

.main__check:checked ~ .main__check__label::before {
  left: calc(100% - 1.625rem - 5px);
}

.main__monthly, .main__yearly {
  color: #858fad;
  font-size: 1.4rem;
}

.main__discount {
  color: #ff8c66;
  background-color: #feece7;
  font-size: 1.325rem;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
}

@media (min-width: 550px) {
  .main__discount {
    margin-left: 1rem;
  }
}

.main__discount--2 {
  display: none;
}

@media (min-width: 550px) {
  .main__discount--2 {
    display: block;
  }
}

@media (min-width: 550px) {
  .main__discount--1 {
    display: none;
  }
}

.main__bottom {
  padding: 3rem 1rem;
  text-align: center;
  color: #858fad;
}

@media (min-width: 550px) {
  .main__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 3rem;
  }
}

.main__benefits {
  margin-bottom: 4rem;
}

@media (min-width: 550px) {
  .main__benefits {
    margin-bottom: 0;
    text-align: left;
  }
}

.main__benefit {
  font-size: 1.4rem;
}

.main__benefit img {
  margin-right: 1rem;
}

.main__benefit:not(:last-child) {
  margin-bottom: 1rem;
}

.main__btn {
  color: #bdccff;
  background-color: #293356;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  display: inline-block;
}

.main__btn:hover {
  color: #fafbff;
}
/*# sourceMappingURL=style.css.map */